
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f8;
    
}

.navbar {
    background-color: #2c3e50;
    color: #fff;
    padding: 0.7rem;
    text-align: left;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

a{
    color: inherit;        /* Inherits color from parent element */
    text-decoration: none; /* Removes underline */
        
            
}



.options {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 1%;
    padding: 1%;
    
    
}

.options ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: stretch;
    gap : 1%;
    margin:0px;
    padding: 0px;
}

.options li {
    width:13.5%;
    min-width: 100px;
    border: solid 2px #ffffff;
    border-radius: 10px;
    padding: 1%;
    background-color: #e8faff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0.1em;
}

.options li p {
    margin: 0;
    font-weight: bold;
    color: #2c3e50;
}

.options button {
    width: 100%;
    padding: 1%;
    /* margin: 2px 0; */
    border: none;
    border-radius: 6px;
    background-color: #3498db;
    color: white;
    font-weight: 600px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.algo-control button{
    height: 20%;
}

.options button:hover:enabled {
    background-color: #2980b9;
}

.options button:disabled {
    background-color: #7f8c8d;
    cursor: not-allowed;
}

.options ul li input{
    width: 100%;
}

.options select {
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}


#curr-operation{
    display : flex;
    text-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap : 1%;
}

.radio-container {

  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  border:none;
  font-weight: 200px;
  text-wrap: wrap;
  
}

.radio-container:hover{
    background-color: #a7d3f1;
}

.radio-container:has(input:checked) {
  background-color: #3498db;
  color: white;
  
}

input[type="radio"]{
    display:none;
    position: fixed;
}


.canvas{
    
    display: grid;
    background-color: rgb(158, 163, 163);
    border-radius: 5px;
    margin: 1%;
    
    
}

.cell{
    border: 1px solid rgb(158, 163, 163); 
    border-radius: 10%;
    
    transition: background-color 0.1s ease; /* smooth color change */
    box-sizing: border-box;
    background-color: rgb(199, 251, 199);
    /* border-radius: 20%; */
    

}
.cell:hover{
    background-color: rgb(62, 106, 237)
}
    .drawing-mode{
    cursor: crosshair;
}
